<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta charset="utf-8" name="viewport” content=“width=device-width, initial-scale=1"/>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3" th:each="weather : ${weathers}">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header" th:text="'Obecne warunki: '+${weather.locationName}">Obecne warunki</div>
                <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row" th:text="${weather.locationName}"></th>
                    <td><img th:src="@{'/images/'+ ${weather.weatherIconFinal}}"/></td>
                </tr>
                <tr th:object="${weather}">
                    <th scope="row">Temperatura:</th>
                    <td th:text="${weather.temperature}+' '+${weather.unit}"></td>
                </tr>
                <tr>
                    <th scope="row">Czas obserwacji: </th>
                    <td th:text="${weather.localObservationDateTime}"></td>
                </tr>
                <tr>
                    <th scope="row">Opis:</th>
                    <td th:text="${weather.weatherDescription}"></td>
                </tr>
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>